<!-- HEADER -->
<header>
	
	<!--  =BRAND  -->
	<div class="brand">
		<h3 class="brand-name">
			<a href="/" title="GuessWhapp">GUESS<span class="brand-name-2ndHalf">WHAPP</span></a>
		</h3>
	</div>

	<!--  =SOCIAL ICONS  -->
	<div class="grid-right social-icons" id="social">
		<div class="twitter-icon"><a href="https://twitter.com/GuessWhapp" target="_blank">
			<img src="/icons/twitter-Newicon.png" onmouseover="this.src='/icons/twitter-Newicon-orange.png';" onmouseout="this.src='/icons/twitter-Newicon.png';" width="24" height="24" alt="Twitter"></a>
		</div>
		<div class="facebook-icon"><a href="https://www.facebook.com/GuessWhapp" target="_blank">
			<img src="/icons/facebook-Newicon.png" onmouseover="this.src='/icons/facebook-Newicon-orange.png';" onmouseout="this.src='/icons/facebook-Newicon.png';" width="24" height="24" alt="Facebook"></a>
		</div>
	</div>

	<!--  =MENU  -->
	<div class="main-nav">
		<ul class="menu">
			<li class="current_page_item"><a href="wieesfunktioniert" title="Wie es funktioniert">Wie es funktioniert</a></li>
			<li class="current_page_item"><a href="team" title="Team">Team</a></li>
			<li class="current_page_item"><a href="http://www.guesswhapp.net/#/login" title="Anmelden">Anmelden</a></li>
			<li class="current_page_item"><a href="http://guesswhapp.blogspot.de/" title="Unser Blog" target="_blank">Unser Blog</a></li>
			<li class="current_page_item"><a href="impressum" title="Impressum">Impressum</a></li>
			<li class="current_page_item current"><a href="http://www.guesswhapp.eu/de/" title="Menu">Menu</a></li>
		</ul>
	</div>

</header>
<!-- HEADER END -->

<!-- IDENTITY HEADLINE START -->
<div class="identity">	
	<div class="identity-headline grid">
		<h4>Kostenlose Online Umfragen</h4>
	</div>
	<div class="identity-cta grid-right">
		<div class="call-to-action"><!-- .call-to-action -->
			<a href="http://www.guesswhapp.net/#/login" class="gray button">Kostenlos teilnehmen</a>
		</div><!-- end of .call-to-action -->
	</div>
</div>
<!-- IDENTITY HEADLINE END -->