<!-- MAIN CONTENT START -->
<div class="mainContent container">			
	<div class="mainContent-claim grid">
		<h1 class="mainContent-claim--title">FRAG DEINE LESER!</h1>
		<h2 class="mainContent-claim--headline">Probier die Abstimmung mit 1 click aus</h2>
	</div>
	<div class="mainContent-guess grid-right">
		<div class='gw-widget' style="width: 300px;" data-stylecode="1" data-gcode="{{gwcode}}" data-sitecode="80">
			<script src="http://www.guesswhapp.net:8080/guesswhapp/widget/gw.js"></script>
		</div>
	</div>
</div>
<!--MAIN CONTENT END -->

<!-- Live Samples START -->
<div class="sampleBox container">			
	<div class="sampleBox-image grid">
		<a href="http://www.rockland.de/" target="_blank"><img src="images/SampleRockland.jpg" alt="www.rockland.de"></a>
	</div>
	<div class="sampleBox-text grid-right">
		<h2>Rockland Radio</h2><br/>
		<div>
			<p>Große WM-Wette zwischen den Moderatoren Olli und Per.</p>
			<br/>
			<p>Was soll die Bestrafung für den Verlierer sein? Nur mit einer Deutschlandfahne bekleidet Autos waschen, Die Haare (bei Olli den Kopf) in den Farben des Weltmeisters färben, Im Gefängnis eine Grillparty mit "bestem Rock N' Pop" schmeißen?</p>
		</div>
	</div>

</div>
<!--Live Samples END -->