<!-- TEAM START -->
<div class="team container">			
	<div class="team-title">
		<h1>Unser Team</h1>
	</div>
	<div class="team-images grid">
		<div class="team-box">
			<div class="vladimir team-pics"></div>
			<div class="team-text"><br/><p style="color: #FF6600;">Vladimir</p><p>Project Manager</p></div>
		</div>
		
		<div class="team-box">
			<div class="gunnar team-pics"></div>
			<div class="team-text"><br/><p style="color: #FF6600;">Gunnar</p><p>Creative</p></div>
		</div>

		<div class="team-box">
			<div class="alexey team-pics"></div>
			<div class="team-text"><br/><p style="color: #FF6600;">Alexey</p><p>Development Team Leader</p></div>
		</div>

		<div class="team-box">
			<div class="alexander team-pics"></div>
			<div class="team-text"><br/><p style="color: #FF6600;">Alexander</p><p>Software Developer</p></div>
		</div>

		<div class="team-box">
			<div class="olaf team-pics"></div>
			<div class="team-text"><br/><p style="color: #FF6600;">Olaf</p><p>Operations</p></div>
		</div>

	</div>
</div>
<!--TEAM END -->