<!-- WIE ES FUNKTIONIERT START -->
<div class="aboutGW container">			
	<div class="grid">
		<h1 class="aboutGW-title">WIE ES FUNKTIONIERT</h1>
		<table class="aboutGW-section">
			<tr>
				<td class="aboutGW-image"><img src="../images/GWBeCreative.png" alt=""></td>
				<td class="aboutGW-text"><h5>Sei kreativ, schreibe etwas!</h5> Die Blogosphere lebt von wertvollen Ideen, Meinungen & Geschichten der Blogger.</td>
			</tr>
			<tr>
				<td class="aboutGW-image"><img src="../images/GWIdea.png" alt=""></td>
				<td class="aboutGW-text"><h5>Passend zu Deinem Inhalt,</h5> lass Dir eine fesselnde, polarisierende oder überraschende Frage samt möglichen Antworten einfallen</td>					
			</tr>
			<tr>
				<td class="aboutGW-image"><img src="../images/GWCode.png" alt=""></td>
				<td class="aboutGW-text"><h5>Erfasse die Frage samt Antworten</h5> auf deinem kostenlosen GuessWhapp-Konto und Du erhälst eine Zeile HTML Code, die Du an einer beliebigen Stelle deines Blogs/Webseite einbetten kannst.</td>					
			</tr>
			<tr>
				<td class="aboutGW-image"><img src="../images/GWPublish.png" alt=""></td>
				<td class="aboutGW-text"><h5>Veröffentliche Deine neue Post/Artikel</h5> und achte darauf wie Deine Frage samt Antworten in eine für deine Leser interaktive Fläche in deinem Blog/Webseite eingebettet ist.</td>					
			</tr>
			<tr>
				<td class="aboutGW-image"><img src="../images/GWStats.png" alt=""></td>
				<td class="aboutGW-text"><h5>Du hast Deinen Lesern geholfen</h5> mit nur einem Click inhaltliche Rückmeldung zu deinem Beitrag  zu geben!</td>					
			</tr>							
		</table>
	</div>

</div>
<!--WIE ES FUNKTIONIERT END -->

<!-- ANLEITUNG -->
<div class="instruct-title container">
	<h1>ANLEITUNG</h1>
</div>

<!-- Anleitungstext 1 -->
<div class="instruct-card container container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">1. Login<br></span><br>mit User-Name und Passwort auf <a href="http://www.guesswhapp.net/" >www.guesswhapp.net</a>
		 (Click auf &quot;sign in&quot;).<br><br>Oder auf &quot;Sign up now&quot; zur erstmaligen Registrierung.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitLogin.png" alt="">
	</div>
</div>
<!-- Anleitungstext 2 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">2. Umfrage Erstellen<br></span><br>Oben im Navigationsbereich zu &quot;New Guess&quot; wechseln.<br>
			<br>Im Feld &quot;Question&quot; Deine Frage eingeben.<br><br>z.B. &quot;Ist die Eingabe einfach?&quot;</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitNeueUmfr.png" alt="">
	</div>
</div>

<!-- Anleitungstext 3 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">3. Antworten<br></span><br>Im Feld &quot;type a new answer&quot; eine Antwort eingeben und mit &quot;Add&quot; diese bestätigen.<br>
			<br>Diesen Vorgang jeweils wiederholen.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitAntw.png" alt="">
	</div>
</div>

<!-- Anleitungstext 4 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">4. Optionen<br></span><br>Die URL Deiner Webseite/Blog unter &quot;Sites&quot; eintragen und mit &quot;Add&quot; bestätigen.<br>
			<br>Im Feld &quot;Tag&quot; eine Kennzeichnung zuordnen - z.B. &quot;Sport&quot;.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitOption.png" alt="">
	</div>
</div>

<!-- Anleitungstext 5 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">5. Umfrage speichern<br></span><br>Mit &quot;Save&quot; die Umfrage fertigstellen und speichern</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitSpeichern.png" alt="">
	</div>
</div>

<!-- Anleitungstext 6 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">6. Umfrage zeigen (1)<br></span><br>Oben im Navigationsbereich zu &quot;Guesses&quot; wechseln wo alle erstellten Umfragen gelistet sind.<br>
		<br>Auf der rechten Seite der Umfrage erscheint im Bereich links von &quot;edit&quot; das Feld &quot;show&quot; sobald man mit der Maus darüber fährt.<br>
		<br>Auf das Feld &quot;show&quot; clicken um die erstellte Umfrage anzuzeigen.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitCodeShow.png" alt="">
	</div>
</div>

<!-- Anleitungstext 7 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">7. Umfrage zeigen (2)<br></span><br>Nach dem Click auf &quot;show&quot; wird auf der linken Seite die Umfrage angezeigt.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitZeigen.png" alt="">
	</div>
</div>

<!-- Anleitungstext 8 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">8. Umfrage-Code (3)<br></span><br>Der &quot;Code&quot; ist notwendig um die Umfrage auf Deiner Webseite erscheinen zu lassen.<br>
		<br>Die Blau markierte HTML-Zeile kopieren und in Deinen Blog/Webseite einfügen.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitUmfCode.png" alt="">
	</div>
</div>


<!-- Anleitungstext 9 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">9. Umfrage einfügen<br></span><br>Die gerade kopierte HTML-Zeile in deine Post einfügen (blau markiert).<br>
		<br>Darauf achten, dass Du im HTML Modus bist - z.B. in Wordpress.org &quot;Text&quot; statt &quot;Visual&quot; oder in Blogger auf &quot;HTML&quot; statt &quot;Verfassen&quot;</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitWPEinfueg.png" alt="">
	</div>
</div>

<!-- Anleitungstext 10 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">10. HTML Code (1)<br></span><br>Die HTML Zeile enthält Bestandteile welche verändert werden können:<br>
		<br>Die &quot;width&quot; und &quot;height&quot; Angaben können angepasst werden (Breite und Höhe).</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitCode1.png" alt="">
	</div>
</div>

<!-- Anleitungstext 11 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">11. HTML Code (2)<br></span><br>Jede Umfrage erhält eine einmalige Identifikations-Nummer - der &quot;data-gcode&quot; (z.B. 432).<br>
		<br>Wenn auf Deiner Webseite/Blog eine alte Umfrage durch eine neue ersetzt werden soll, reicht es aus, den &quot;data-gcode&quot; zu ersetzen (z.B. 433).</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitCode2.png" alt="">
	</div>
</div>

<!-- Anleitungstext 12 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">12. HTML Code (3)<br></span><br>Für den Fall dass auf eine Umfrage nicht mehr geantwortet werden soll und nur noch das Umfrage-Ergebnis angezeigt werden soll, muss nur der folgende Code der HTML Zeile hinzugefügt werden:<br>
		&quot;data-preview=&quot;1&quot; &quot; vor den &quot;data-gcode&quot; eintragen.</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitCode3.png" alt="">
	</div>
</div>
<!-- Anleitungstext 13 -->
<div class="instruct-card container">
	<div class="instruct-text grid">
		<p><span class="instruct-text--title">13. Einfügen Alternative<br></span><br>Die obige HTML-Zeile enthält JavaScript welches auf manchen Plattformen nicht erlaubt ist (z.B. Wordpress<b>.com</b> - wobei es bei Wordpress<b>.org</b> kein Problem ist.<br>
		<br>Für diese Plattformen gibt es eine alternative HTML Zeile welche mit click auf &quot;For Wordpress.com bloggers&quot; zu finden ist.<br>
		<br>Diese HTML Zeile kopieren und einfügen (Sie enthält kein JavaScript).</p>
	</div>
	<div class="instruct-image">
		<img class="instruct-image--img" src="../images/AnleitWPnonScript.png" alt="">
	</div>
 </div>